<po-page-default [p-title]="this.literals.title" [p-actions]="pageActions">
	<div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
		<po-button
			p-label="Exportar Espelho de Carga"
			(p-click)="exportarEspelhoCarga()"
			class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-mb-2"
			p-kind="primary"
		>
		</po-button>
	</div>
	<form [formGroup]="tipoPortaForm">
		<div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
			<po-input
				class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
				formControlName="descricao"
				name="descricao"
				p-label="Descrição"
				p-required
			></po-input>
		</div>

		<div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
			<po-input
				class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
				formControlName="motorista"
				name="motorista"
				p-label="Motorista"
				p-required
			></po-input>
		</div>

		<div class="po-sm-12 po-md-12 po-lg-6 po-xl-6 no-padding">
			<po-input
				class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
				formControlName="placa"
				name="placa"
				p-label="Placa"
				p-required
			></po-input>
		</div>

		<div class="po-sm-12 po-md-12 po-lg-6 po-xl-6 no-padding">
			<po-input
				class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
				formControlName="lote"
				name="lote"
				p-label="Lote"
				p-required
			></po-input>
		</div>

		<div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
			<po-lookup
				class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
				formControlName="pedidoId"
				name="pedidoId"
				p-field-label="label"
				p-field-value="value"
				p-clean
				[p-filter-service]="pedidoIdService"
				[p-label]="this.literals.fields.form['pedidoId']"
				[p-columns]="columnsFornecedor"
			>
			</po-lookup>
		</div>
		<div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
			<po-lookup
				class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
				formControlName="pacoteId"
				name="pacoteId"
				p-field-label="label"
				p-field-value="value"
				p-clean
				[p-filter-service]="pedidoPacotesIdService"
				[p-label]="this.literals.fields.form['pacoteId']"
				[p-columns]="columnsFornecedor"
				[p-filter-params]="{ pedidoId: tipoPortaForm.get('pedidoId').value }"
				[p-disabled]="!tipoPortaForm.get('pedidoId').value"
				p-multiple
			>
			</po-lookup>
		</div>

		<div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding po-mt-2">
			<po-button
				class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
				p-label="Adicionar Pacotes  "
				(p-click)="adicionarPacotes()"
				[p-disabled]="!tipoPortaForm.get('pacoteId').value"
			>
			</po-button>
		</div>

		<div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding po-mt-2">
			<po-table
				#table
				class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
				[p-columns]="columnsTableItems"
				[p-items]="tipoPortaForm.get('espelhoCargaItems').value"
				p-action-add
				p-action-remove
				[p-actions]="tableActions"
				p-actions-right="true"
				[p-auto-collapse]="true"
			>
				<ng-template
					p-table-row-template
					let-rowItem
					let-i="rowIndex"
					[p-table-row-template-arrow-direction]="'right'"
					[p-table-row-template-show]="hasItems"
				>
					<po-widget p-title="Itens do Pacote {{ rowItem.descricao }}">
						<div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
							<po-table
								[p-columns]="columnsTablePacoteItems"
								[p-items]="getPacoteItemsArray(rowItem)"
								[p-striped]="true"
							>
							</po-table>
						</div>
					</po-widget>
				</ng-template>
			</po-table>
		</div>
	</form>
</po-page-default>
