<po-page-default [p-title]="this.literals.title" [p-actions]="pageActions">
    <form [formGroup]="pedidoForm">
        <div>
            <div class="po-sm-12 po-md-6 po-lg-6 po-xl-6 no-padding">
                <po-lookup
                    class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
                    formControlName="cliente"
                    name="cliente"
                    p-field-label="label"
                    p-field-value="value"
                    p-clean
                    [p-disabled]="readonly"
                    [p-filter-service]="clienteIdService"
                    [p-label]="this.literals.fields.form['cliente']"
                    p-required
                    [p-columns]="columnsFornecedor"
                    (p-change)="onChangeCliente($event)"
                >
                </po-lookup>
            </div>

            <div class="po-sm-12 po-md-3 po-lg-3 po-xl-3 no-padding">
                <po-lookup
                    class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
                    formControlName="status"
                    name="status"
                    p-field-label="label"
                    p-field-value="value"
                    p-clean
                    [p-disabled]="readonly"
                    [p-filter-service]="statusIdService"
                    [p-label]="this.literals.fields.form['status']"
                    [p-columns]="columnsFornecedor"
                >
                </po-lookup>
            </div>

            <div class="po-sm-12 po-md-3 po-lg-3 po-xl-3 no-padding">
                <po-datepicker
                    class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
                    formControlName="dataEmissao"
                    name="dataEmissao"
                    p-label="{{ literals.fields.form['dataEmissao'] }}"
                    [p-readonly]="readonly"
                    p-required
                >
                </po-datepicker>
            </div>

            <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
                <po-input
                    class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
                    formControlName="descricao"
                    name="descricao"
                    p-label="{{ literals.fields.form['descricao'] }}"
                    [p-readonly]="readonly"
                >
                </po-input>
            </div>
        </div>
    </form>

    <po-tabs class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
        <po-tab p-label="Itens Pedido" p-active>
            <!-- <po-divider class="po-sm-12 po-md-12 po-lg-12 po-xl-12" p-label="Items"></po-divider> -->

            <form [formGroup]="pedidoItemsForm">
                <div>
                    <div class="po-sm-12 po-md-5 po-lg-5 po-xl-5 no-padding">
                        <po-lookup
                            class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
                            formControlName="id"
                            name="id"
                            p-field-label="label"
                            p-field-value="value"
                            p-clean
                            [p-disabled]="!canAddItems"
                            [p-filter-service]="produtoIdService"
                            [p-label]="this.literals.fields.form['produto']"
                            p-required
                            [p-columns]="columnsProduto"
                        >
                        </po-lookup>
                    </div>

                    <div class="po-sm-12 po-md-5 po-lg-5 po-xl-5 no-padding po-required">
                        <po-number
                            class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
                            formControlName="quantidade"
                            name="quantidade"
                            p-label="{{ literals.fields.form['quantidade'] }}"
                            [p-readonly]="readonly"
                            p-min="1"
                            p-required
                            [p-disabled]="!canAddItems"
                        >
                        </po-number>
                    </div>

                    <div class="po-sm-12 po-md-2 po-lg-2 po-xl-2 no-padding po-mt-4">
                        <po-button
                            class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
                            p-label="Adicionar"
                            p-kind="primary"
                            p-disabled="pedidoItemsForm.invalid || readonly"
                            (p-click)="addItem()"
                            [p-disabled]="!canAddItems"
                        >
                        </po-button>
                    </div>

                    <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
                        <po-table
                            #table
                            class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
                            [p-columns]="columnsTableItems"
                            [p-items]="pedidoForm.get('pedidoItems').value"
                            p-action-add
                            p-action-remove
                            [p-actions]="tableActions"
                            p-actions-right="true"
                        >
                        </po-table>
                    </div>
                </div></form
        ></po-tab>
        <po-tab p-label="Itens Carregamento">
            <po-table
                class="po-sm-12 po-md-12 po-lg-12 po-xl-12"
                [p-columns]="columnsTablePacoteItems"
                [p-items]="pedidoForm.get('pacoteItems').value"
            >
            </po-table>
        </po-tab>
    </po-tabs>
</po-page-default>

<po-modal
    #poModal
    p-size="lg"
    p-hide-close="true"
    [p-primary-action]="primaryAction"
    [p-secondary-action]="secondaryAction"
    p-title="Editar Produto"
    class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding"
>
    <form [formGroup]="pedidoItemsFormEdit" class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding">
        <div class="po-sm-12 po-md-9 po-lg-9 po-xl-9 no-padding">
            <po-lookup
                class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
                formControlName="id"
                name="id"
                p-field-label="label"
                p-field-value="value"
                p-clean
                p-disabled="true"
                [p-filter-service]="produtoIdService"
                [p-label]="this.literals.fields.form['produto']"
                p-required
                [p-columns]="columnsProduto"
                (p-change)="onProdutoChange($event)"
            >
            </po-lookup>
        </div>
        <div class="po-sm-12 po-md-3 po-lg-3 po-xl-3 no-padding">
            <po-number
                class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-required"
                formControlName="quantidade"
                name="quantidade"
                p-clean
                [p-label]="this.literals.fields.form['quantidade']"
                p-maxlength="10"
                [p-readonly]="readonly"
                p-required
            >
            </po-number>
        </div>
    </form>
</po-modal>

<po-modal
    #poModalDelete
    p-size="lg"
    p-hide-close="true"
    [p-primary-action]="primaryActionDelete"
    [p-secondary-action]="secondaryActionDelete"
    p-title="Confirmar Exclusão"
    class="po-sm-12 po-md-12 po-lg-12 po-xl-12 no-padding"
>
    <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12 text-center">
        <h1>Você tem certeza que deseja excluir este item?</h1>
        <p class="po-mt-4">{{ this.deleteItemName }}</p>
    </div>
</po-modal>
